@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
 margin: 0; 
padding: 0;
box-sizing: border-box;
}

:root{
    --semi-dark-color:#b46ee0;
    --dark-color:#423849;
    --light-color:#d287d4;      
}


body{
    font-family: 'Poppins', sans-serif;
    

}