@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
 margin: 0; 
padding: 0;
box-sizing: border-box;
}

:root{
    --dark-color:#423849;
    --semi-dark-color:#b46ee0;
    --light-color:#fd8fa7;    
    --white-color:#fff;
    --main-heading-font-size: 3.5rem;
    --subheading-font-size: 2rem;
    --paragraph-font-size: 1.1rem;
    --body-background-color: #f9f3fb;
    --gradient-color: linear-gradient(-190deg, rgba(180,110,224,1) 45%, rgba(210,135,212,1) 70%);
}

p{
    margin: 0;
    font-size: var(--paragraph-font-size);
    color: var(--dark-color);
    line-height: 1.5;


}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-background-color);

}

/* header{
    position: fixed;
    top: 0;
    z-index: 1000;
width: 100%;
} */

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--dark-color);
}

.menu-icon{
    display: block;
    width: 40px;
    height: 6px;
    background-color: var(--dark-color);
    margin: 3px auto;
    border-radius: 20px;
    cursor: pointer;
}


.nav-link .bi{
    font-size: 1.5rem;
    color: var(--dark-color);
}

.banner-content{
    margin: 100px auto;
    padding-right: 100px;
}

.banner-content h1{
    color: var(--dark-color);
    font-weight: 800;
    /* font-size: 55px; */
    font-size: var(--main-heading-font-size);
    letter-spacing: -2px;
    margin: 50px 0px;
}
/* .hero-section{
   background-image: url(/image/business-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
} */

.banner-footer-text p{
    color: var(--dark-color);

}


.client-section{
    background: var(--gradient-color);
    padding: 20px 0px;
    overflow: hidden;
}

.client-logo{
    display: flex !important;
    justify-content: center!important;
    align-items: center;
    flex-wrap: wrap;
    color: var(--white-color);
}
.about-row {
    border: 2px dotted var(--dark-color);
    padding: 10px;
    border-radius: 80px;
    margin-top: 150px;
}

.about-row-img-01{
    border-top-left-radius: 80px;
    border-bottom-right-radius: 100px;
}


.about-row-img-02{
    border-top-right-radius: 80px;
    border-bottom-left-radius: 100px;
}

.about-row-img-03{
    border-bottom-left-radius: 80px;
    border-top-right-radius: 100px;
}

.about-row-img-04{
    border-top-left-radius: 80px;
    border-bottom-right-radius: 100px;
}


.about-content{
    padding: 50px;
}

.main-heading h2{
    color: var(--dark-color);
    font-weight: 800;
    /* font-size: 55px; */
    font-size: var(--main-heading-font-size);
    letter-spacing: -2px;
    margin: 20px 0px;
}

.about-list{
    margin-top: 50px;
}

.about-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon .bi{
    font-size: 2rem;
    color: var(--white-color);
    display: flex;
}

.about-icon .bi-award{
    background-color: var(--semi-dark-color);
    padding: 10px;
    margin: 10px;
    border-radius: 55px;

}

.about-icon .bi-basket{
    background-color: var(--light-color);
    padding: 10px;
    margin: 10px;
    border-radius: 55px;

}

.service-section{
    background: var(--gradient-color);
    padding: 50px 0px;
}
.main-heading-white{
    margin-bottom: 80px;
}

.main-heading-white h2{
    color: var(--white-color);
    font-weight: 800;
    /* font-size: 55px; */
    font-size: var(--main-heading-font-size);
    letter-spacing: -2px;
    margin: 20px 0px;
    text-align: center ;

}

.main-heading-white p{
    color: var(--white-color);
    font-size: var(--paragraph-font-size);
    text-align: center;
}

.counter-card{
    width: 200px;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: unset;
 
}

.counter-text-holder{
    background:var(--gradient-color);
    width: 200px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50px;
}

.counter{
  text-align: center;
  position: relative;
}

.counter .bi{
    font-size: 2.5rem;
    color: var(--dark-color);
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
   
}

.counter-text{
    text
}


.testimonial-section{
    background: var(--gradient-color);
    padding: 50px 0px;
}

.img-body{
   display: flex ;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.testimonial-img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 0px 20px;
}

.custom-btn{
    background: var(--gradient-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}